* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.headerContainer {
  padding: 50px;
}
.headerContainer a {
  font-size: 40px;
  color: #3481d0;
  text-decoration: none;
}

.title {
  margin: 50px 0;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

.title a {
  float: right;
  font-size: 20px;
  text-decoration: none;
  color: #3481d0;
}

.albumContainer {
  padding-left: 70px;
  padding-right: 70px;
}

.album {
  margin: 10px;
  width: calc(100% / 6 - 20px);
  float: left;
}

.album-image img {
  width: 100%;
}

.album-title,
.album-number {
  margin: 5px;
  font-size: 20px;
}

.album-number {
  color: gray;
}
