.city {
  width: 400px;
  height: 200px;
  background: red;
  border: 1px solid black;
  position: relative;
  margin: 5px;
}

.name {
  position: absolute;
  font-size: 30px;
  font-family: Arial;
  color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  font-size: 20px;
  font-family: Arial;
  position: relative;
  top: 20%;
  left: 110%;
}
